$blanco: white;
$negro: black;

body{
    height: 92%;
    background-color: rgb(211, 215, 216)
}

html{
    height: 92%;
}

.white{
    color: $blanco;
}

.gray{
    color: rgb(121, 120, 120);
}
.wrap{
    min-height: 100%;
    box-sizing: border-box;
    padding: 10px;
        &:after{
            content: "";
            display: block;
        }

}

.bg-white{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $blanco;
    a{
        text-decoration: none;
        text-size-adjust: 150%;
        
        &:link{
            color: $negro;
        }
        &:visited{
            color: $negro;
        }
        &:hover{
            transform: scale(1.25);
            transition: all 1s ease;
        }
    }
}

.bg-white2{
    background-color: $blanco;
}


h3{
    font-size: 0.9rem;
}
/* FOOTER */

.df-footer{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: $blanco;

}

.col a{
        &:link{
        color: $negro;
        }

        &:visited{
        color: $negro;
        }

        i{
            font-size: 25px;
            text-align: center;
            padding: 5px 10px;
            
            &:hover{
                transform: scale(1.25);
                transition: all 1s ease;
            }
}
}