.bg-white{
    display: flex;
    align-items: center;
    justify-content: center;

    a{
        text-decoration: none;
        text-size-adjust: 150%;
        
        &:link{
            color: black;
        }
        &:visited{
            color: black;
        }
        &:hover{
            transform: scale(1.25);
            transition: all 1s ease;
        }
    }
}


/* FOOTER */

.df-footer{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: white;

}

.col a{
        &:link{
        color: black;
        }

        &:visited{
        color: black;
        }

        i{
            font-size: 25px;
            text-align: center;
            padding: 5px 10px;
            
            &:hover{
                transform: scale(1.25);
                transition: all 1s ease;
            }
}
}